@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

/* Styles pour les cartes Tinder */
.swipe {
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.swipe:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}